
body{
    background-color: #F9E2AF;
}
.nav-bar{
color: rgb(24, 74, 119);
border: none;
box-shadow: none

}
.body_catalogo{
    background-color: #f0a91d;
}
.nav-item{
    font-size: 2rem;
    font-family: 'Arial Narrow Bold';
}
.navbar-brand{
    font-family: 'Arial Narrow Bold';
    font-size: 4rem;
}

.footer{
   
    background-color: #f0a91d;
}
.footer_catalogo{
    margin-top: 50px;
    background-color: #f0a91d;
}
.catalogo{
   
    background-color: #f0a91d;
}
footer a {
    color: #000 !important; /* Força a cor preta */
    text-decoration: none;
    font-size: 2rem; 
}
.footer .text-body-emphasis {
    margin-top: 20px;
    font-size: 5rem; /* Define o tamanho da fonte para 1.5 vezes o tamanho padrão */
    font-family: 'Arial Narrow Bold';
}
.img-fluid {
    margin-left: 20%;
}

    

.container { 
    height: 100vh;
}

.card {
    height: 450px;
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #402B27 !important;
    color: white;
}

.card-header {
    text-align: center;
    font-size: 1.5rem;
}

.social_icon span {
    font-size: 30px;
    margin-left: 10px;
    color: #f3f3f3;
}

.social_icon span:hover {
    color: #ffffff;
    cursor: pointer;
}

.input-group-prepend span {
    width: 50px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

.input-group input:focus {
    outline: 0;
    box-shadow: 0;
}

.remember {
    color: white;
    margin-left: 5px;
}

.login_btn {
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}